#pane{
    -fx-border-color: midnightblue;
    -fx-border-width: 1px;
    -fx-background-color: white;

    -fx-pref-width: 500;
    -fx-pref-height: 500;
    -fx-min-width: 500;
    -fx-min-height: 500;
    -fx-max-width: 500;
    -fx-max-height: 500;
}

